:root {
  --Blanco: #fff;
  --FuenteUbuntu: "Ubuntu", sans-serif;
  --Probando: #ebf2f3;
  --Gris: #696969;
  --GrisClaro: #ccc9c9;
  --Azul:  #04acec;
  --AzulHover: #0586b9;
  --Header: #5b5969;
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: var(--FuenteUbuntu);
}

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Utilidades - Helpers */

.mt {
  margin-top: 2rem;
}

.position {
  position: relative;
  left: 4.5rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.c-black {
  color: var(--Gris);
}

/*Login*/
.login {
  position: relative;
  right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__contenedor {
  padding: 1rem 3rem 2rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login__label {
  display: block;
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: var(--GrisOcuro);
  font-size: 1.2rem;
}

.login__input {
  min-width: 30rem;
  padding: .6rem;
  border: none;
  background-color: var(--GrisAzulado);
  border-radius: .5rem;
}

.login__boton {
  background-color: var(--Azul);
  color: var(--Blanco);
  border: none;
  padding: .5rem 1rem;
  margin-top: 1rem;
  transition-property: background-color;
  transition-duration: .3s;
  font-weight: bold;
}

.login__boton:hover {
  background-color: var(--AzulHover);
  cursor: pointer;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  margin-top: 1rem;
}

.navegacion__p {
  color: var(--GrisMedio);
  transition-property: color;
  transition-duration: .3s;
}

.navegacion__p:hover {
  color: var(--GrisOcuro);
}

/*Botones cerrar e inicar sesion*/
.header__campo-auth {
  position: relative;
  left: 11rem;
}

.boton__auth {
  border: none;
  background-color: var(--AzulOscuro);
  padding: .5rem 1rem;
  color: var(--Blanco);
  font-weight: bold;
  transition-property: background-color;
  transition-duration: .3s;
  border-radius: .2rem;
}

.boton__auth:hover {
  background-color: var(--AzulHover);
  cursor: pointer;
}


/* Estilos del header */
.header {
  max-height: 10rem;
}

/* Estilos del sidebar */
.sidebar {
  background-color: var(--Blanco);
  width: 200px;
  padding: 30px 20px;
  position: fixed;
  top: 134px;
  left: 0;
  bottom: 0;
  overflow-y: auto; /* Permite el desplazamiento vertical */
  max-height: calc(100vh - 134px); /* Asegura que el sidebar no exceda la altura de la ventana */
  scrollbar-width: none; 
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar__campo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.sidebar__link {
  text-decoration: none;
  padding: 1.2rem .2rem .7rem .2rem;
  border-radius: .6rem;
  transition-property: background-color;
  transition-duration: .4s;
}

.sidebar__link:hover {
  background-color: var(--Probando);
}

.sidebar__link-activo {
  background-color: var(--Probando);
}


.sidebar__logo {
  filter: invert(45%);
}

.sidebar__texto {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--Gris);
  margin: 0;
}

/* Estilos del main */
.main {
  background-color: var(--Probando);
  padding: 10px;
  padding-bottom: 20rem;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  /* Ancho del main es el 100% menos el ancho del sidebar */
}

.main__contenido {
  padding: 2rem;
}
/* Estilos para hacer que el main sea deslizable */
/*.main__scrollable {
  height: 1000px; /* Altura de ejemplo para mostrar el desplazamiento */
/*}

/* Index */
.index__heading {
  display: flex;
  gap: 32.5rem;
  align-items: center;
}

.index__h2 {
  color: var(--Azul);
  margin: .5rem;
}

.index__h2-black {
  color: var(--Gris);
  margin: .5rem;
}


.index__p {
  color: var(--Gris);
  text-align: center;
}

.index__p-2 {
  font-weight: bold;
  color: var(--Blanco);
  text-align: center;
}

.index__centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index__centrado-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.index__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.index__campo {
  padding: 1.5rem 1.2rem;
  background-color: var(--Azul);
  transition-property: background-color;
  transition-duration: .3s;
}

.index__campo:hover {
  background-color: var(--AzulHover);
}

/* Estilos para tablas */
.tabla {
  display: flex;
  flex-direction: column;
  background-color: var(--Blanco);
  padding: 2rem;
}

.tabla__table {
  border: 1px solid var(--GrisClaro);
  border-collapse: collapse;
  width: 60rem;
}

.tabla__thead {
  background-color: var(--Azul);
  border-collapse: collapse;
}

.tabla__th {
  padding: .5rem;
  color: var(--Blanco);
}

.tabla__td {
  padding: .5rem;
  text-align: center;
  border-bottom: 1px solid var(--GrisClaro);
  color: var(--Gris);
}

.tabla__total {
  margin-top: 1rem;
  border-top: 1px solid var(--Gris);
  display: flex;
  justify-content: space-around;
}

.tabla__p {
  color: var(--Gris);
}

.tabla__span {
  font-weight: bold;
}
/* Selectores */

.filtros {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.filtros__flex {
  display: flex;
  gap: 1rem;
}

.selectores {
  position: relative;
  display: flex;
  gap: 1.7rem;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: .5rem;
}

.selectores__label {
  color: var(--Gris);
}

.selectores__select {
  padding: .3rem 1.2rem;
  border: 1px solid var(--GrisClaro);
}

.selectores__boton {
  border: none;
  background-color: var(--Azul);
  padding: 3.4px 20px;
  color: var(--Blanco);
  font-weight: bold;
  transition-property: background-color;
  transition-property: .3s;
}

.selectores__boton-2 {
  border: none;
  background-color: var(--Azul);
  padding: 6.5px 20px;
  color: var(--Blanco);
  font-weight: bold;
  transition-property: background-color;
  transition-property: .3s;
}

.selectores__boton:hover {
  background-color: var(--AzulHover);
}

.selectores__boton-2:hover {
  background-color: var(--AzulHover);
}

/*Paginador*/
.paginador {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.paginador__boton {
  padding: .5rem 1rem;
  border: none;
  background-color: var(--Azul);
  color: var(--Blanco);
  font-weight: bold;
  min-width: 7rem;
  transition-property: background-color;
  transition-duration: .3s;
}

.paginador__boton:hover {
  background-color: var(--AzulHover);
}

/* PDF */

.pdf {
  display: flex;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: .5rem;
  justify-content: flex-end;
  position: relative;
  left: 25rem;
}

.pdf:hover {
  cursor: pointer;
}

.custom-pdf-link {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Hereda el color del texto del padre */
}

/* Si necesitas anular otros estilos predeterminados, puedes añadirlos aquí */
.custom-pdf-link:hover,
.custom-pdf-link:focus,
.custom-pdf-link:active {
  text-decoration: none; /* Asegúrate de que el subrayado no aparezca en estos estados */
  color: inherit; /* Asegúrate de que el color no cambie en estos estados */
}

.pdf__flex {
  position: relative;
  right: 8.5rem;
  display: flex;
  align-items: center;
}

/* Estilos temporales, para la prueba del PDF */

.head {
  background-color: var(--Azul);
  height: 2.5rem;
}

.prueba__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 63rem;
  margin: 0 auto;
}

.prueba__img {
  width: 20rem;
}

.prueba__h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.prueba__p {
  font-size: .9rem;
  color: var(--Header);
}

.border {
  border-bottom: 1px solid var(--Azul);
}

.mt {
  margin-top: 2rem;
}

.mb {
  margin-bottom: 2rem;
}

.text-aling {
  text-align: center;
}

.prueba-campo__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bb {
  border-bottom: 1px solid var(--Azul);
}

.centrar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Spinner CSS */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner div {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background-color: #333;
  border-radius: 100%;
  animation: sk-bounce 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}


/*Menu de prueba*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.contenedor {
  width: 200px;
  height: 250px;
  float: left;
  transition: height 0.4s;
}

div#uno {
  background-color: rgb(208, 101, 3);
}

div#dos {
  background-color: rgb(233, 147, 26);
}

div#tres {
  background-color: rgb(22, 145, 190);
}

div#cuatro {
  background-color: rgb(22, 107, 162);
}

div#cinco {
  background-color: rgb(27, 54, 71);
}

div#seis {
  background-color: rgb(21, 40, 54);
}

img.icon {
  display: block;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.15);
  width: 75px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
  transition: box-shadow 0.4s;
  filter: invert(100%);
}

p.texto {
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding-top: 10px;
  opacity: 0.6;
  transition: padding-top 0.4s;
}

div.contenedor:hover {
  height: 280px;
}

div.contenedor:hover p.texto {
  padding-top: 30px;
  opacity: 1;
  font-size: 1.3em;
}

div.contenedor:hover img.icon {
  box-shadow: 0px 0px 0px 0px #000;
}

.texto-h1 {
  text-align: center;
  font-size: 1.2rem;
  color: var(--AzulHover);
  margin-bottom: 3rem;
  position: relative; /* Necesario para posicionar el ::after */
}

.texto-h1::after {
  content: '';
  display: block;
  width: 27%; /* Puedes ajustar el ancho según tus necesidades */
  height: 5px; /* Ajusta el grosor de la línea */
  background: linear-gradient(to right, rgb(208, 101, 3) 50%, var(--AzulHover) 50%); /* Gradiente de negro a azul */
  margin: 0.5rem auto 0; /* Ajusta el margen superior y centra la línea */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px; /* Ajusta la posición vertical de la línea */
  border-radius: .5rem;
}